 
 <div class="container">

        <div class="section-title">
          <span>BLOGS</span>
          <h2>BLOGS</h2>
          
        </div>

<div class="row">
<div class="col l4 s12 m6">
           
  <div class="card" style="width: 30rem;">
      
  <div class="card-body">
    <h5 class="card-title">Fast Sort</h5>
    <p class="card-text">This Blog is a Mathmatical discussion about sorting algorithms, to check whether we can sort an array in linear time O(n)</p>
    <a href="https://www.linkedin.com/pulse/can-i-sort-syed-khamer-ahamed/?trackingId=g1SanEtgRXSsNykUk50ktg%3D%3D" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
  </div>
</div>
            </div>



		<div class="col l4 s12 m6">
			 <div class="card" style="width: 30rem;">
  
  <div class="card-body">
    <h5 class="card-title">Node.JS</h5>
    <p class="card-text">This blog about node.js, In this blog I've highlighted  few points about Node.js which are commonly not known.</p>
    <a href="https://www.linkedin.com/pulse/thinks-you-should-know-nodejs-syed-khamer-ahamed/?trackingId=UHsGbdf9SpiWSD0gA2N7Fg%3D%3D" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">View</a>
  </div>
</div>
</div>

</div>
</div>
