
<div class="container">

        <div class="section-title">
          <span>My Resume</span>
          <h2>My Resume</h2>
          
        </div>
      <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Syed Khamer Ahamed</h4>
              <p><em>Over all 2  Years of experience in IT industry with design, development and implementation of software applications.</em></p>
                 <p>  <em> I’ve knowledge in  designing  highly scale-able systems.</em></p>
                 <p>  <em>  I’ve experience in designing  Reactive Microservices using java spring boot and python as well.</em></p>
                  <p>  <em> I’ve good experience with Java, spring boot, spring MVC.RESTFul Api</em></p>
                  <p>  <em>  I’ve good experience with Angular, Html, BootStrap</em></p>
                   <p> <em>  Expertise skill in developing  deep learning and machine learning models.</em></p>

              
              <ul>
                <li>H:No:  ,Sangareddy, Telangana, India</li>
                <li>+917989487615</li>
                <li>syed.ouce@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Technology </h4>
              <h5>2017 - 2019</h5>
              <p><em>University College OF Engineering, Osmania, Hyderabad</em></p>
              <p> I did my M.tech in CS with major as Machine Learning and minor as Distributed Computing</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Technology</h4>
              <h5>2012 - 2016</h5>
              <p><em>JNTUH, Hyderabad</em></p>
              <p>I did My B.tech In Information Technology </p>
            </div>
          </div>     
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Engineer </h4>
              <h5>2018 - Present</h5>
              <p><em>Thomson Reuters, Hyderabad, India </em></p>
              <p>
              <ul> 
                <li>Part of a team which Migrated Monolith Architecture to Microservices Architecture</li>
                <li>Helped in designing recommender- Systems</li>
                <li>Worked on AWS services such as ec2 and lambda</li>
                <li>Created jekins pipelines</li>
              </ul>
             </div>

            <h3 class="resume-title">Skills</h3>
            <div class="resume-item">
              <ul> 
                <li>JAVA, Spring Boot,Spring MVC, Spring Cloud, Spring Security, JPA, RESTFul</li>
                <li>Python, Django, Tensorflow, Keras, Pandas, Sklearn</li>
                <li>Angular, Angular Material, TypeScript</li>
                <li>Node.js, Express.js, Java Script, Html, CSS</li>
                <li>MongoDB, SQl</li>
              </ul>
             <div>       
          </div>           
     </div>
     

   